<ion-view>
  <ion-nav-title>Последни броеви</ion-nav-title>
  <ion-content>
    <div class='row'>
      <div class='col col-offset-10 text-right no-border'>
        <ion-toggle ng-model='sortNumbers' toggle-class='toggle-positive' class='no-border'>
          Аритметичи редослед</ion-toggle>
      </div>
    </div>
    <div class='list'>
      <div class='item item-divider divider-numbers'>
        <div class='row row-no-padding'>
          <div class='col col-20'>год./коло</div>
          <div class='col col-10 text-center'>1</div>
          <div class='col col-10 text-center'>2</div>
          <div class='col col-10 text-center'>3</div>
          <div class='col col-10 text-center'>4</div>
          <div class='col col-10 text-center'>5</div>
          <div class='col col-10 text-center'>6</div>
          <div class='col col-10 text-center'>7</div>
          <div class='col col-10 text-center'>+</div>
        </div>
      </div>
      <div class='item item-numbers' ng-repeat='n in numbers'
          ng-class="{ even: $index % 2 == 0, odd: $index % 2 == 1 }">
        <div class='row row-no-padding row-center'
             id='numbers-{{ n.date.getFullYear() }}-{{ n.draw }}'>
          <div class='col col-20'>{{ n.date.getFullYear() }}/{{ n.draw }}</div>
          <div class='col col-10 text-center'>{{ sortNumbers ? n.sorted[0] : n.column[0] }}</div>
          <div class='col col-10 text-center'>{{ sortNumbers ? n.sorted[1] : n.column[1] }}</div>
          <div class='col col-10 text-center'>{{ sortNumbers ? n.sorted[2] : n.column[2] }}</div>
          <div class='col col-10 text-center'>{{ sortNumbers ? n.sorted[3] : n.column[3] }}</div>
          <div class='col col-10 text-center'>{{ sortNumbers ? n.sorted[4] : n.column[4] }}</div>
          <div class='col col-10 text-center'>{{ sortNumbers ? n.sorted[5] : n.column[5] }}</div>
          <div class='col col-10 text-center'>{{ sortNumbers ? n.sorted[6] : n.column[6] }}</div>
          <div class='col col-10 text-center'>{{ sortNumbers ? n.sorted[7] : n.column[7] }}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
