<ion-view title='За ionic-лото'>
  <ion-content>
    <div class='list list-inset' >
      <h3>TODO</h3>
      <div class'item'><i class='icon ion-android-arrow-dropright'></i>
        In <em>lotto/joker</em> stats add draw machine selection</div>
      <div class'item'><i class='icon ion-android-arrow-dropright'></i>
        Add balloon divs for list/item</div>
      <div class'item'><i class='icon ion-android-arrow-dropright'></i>
        Add flash screen on loading</div>
      <div class'item'><i class='icon ion-android-arrow-dropright'></i>
        Animated lotto ionic</div>
      <div class'item'><i class='icon ion-android-arrow-dropright'></i>
        Balloons for list class</div>
      <div class'item'><i class='icon ion-android-arrow-dropright'></i>
        Instead of bubble divs disolving use x button to remove, and to correctly position the triangle</div>
    </div>
  </ion-content>
</ion-view>
