<ion-view hide-back-button='true' align-title='center'>
  <ion-nav-title><i class='icon ion-navicon-round'></i>&nbsp;Мени</ion-nav-title>
  <ion-content>
    <div class='list'>
      <a href='#/annual' class='item item-icon-left'><i class='icon ion-stats-bars'>
        </i>Годишно</a>
      <a href='#/weekly/{{ lastYear }}' class='item item-icon-left'>
        <i class='icon ion-ios-pulse-strong'></i>Неделно</a>
      <a class='item'>За лото&nbsp;<i class='icon ion-ios-ionic-outline'></i> </a>
    </div>
  </ion-content>
</ion-view>
