<ion-view view-title='Годишна уплата'>
  <ion-content>
    <div class='row' ng-click="hideChart = !hideChart">
      <div class='col text-left'>
        <a style='font-size: 24px'><i class='icon ion-stats-bars'></i></a>
      </div>
    </div>
    <div id='bar-chart-id' class='row' stacked-bar-chart ng-if='!hideChart'
         width='240' height='200' title='Годишни уплати'>
    </div>
    <div class='list'>
      <div class='item item-divider divider-annually'>
        <div class='row row-no-padding'>
          <div class='col col-5'></div>
          <div class='col col-15'>година</div>
          <div class='col col-10 text-center'>изв.</div>
          <div class='col col-10 text-center'>x7</div>
          <div class='col col-30 text-right'>лото</div>
          <div class='col col-30 text-right'>џокер</div>
        </div>
      </div>
      <div class='item item-annual' ng-repeat='s in sales'>
        <div class='row row-no-padding'>
          <div class='col col-5'><a href='#/weekly/{{ s.year }}'>
            <i class='icon ion-android-arrow-dropright dropright'></i></a>
          </div>
          <div class='col col15'>{{ s.year }}</div>
          <div class='col col-10 text-center'>{{ s.draws }}</div>
          <div class='col col-10 text-center'>{{ s.x7 }}</div>
          <div class='col col-30 text-right'>{{ thou_sep(s['лото']) }}</div>
          <div class='col col-30 text-right'>{{ thou_sep(s['џокер']) }}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
