<ion-view>
  <ion-nav-title><i class='icon ion-ribbon-a'></i>&nbsp;Добитници</ion-nav-title>
  <ion-content>
    <div class='list'>
      <a href='#/winners/lotto' class='item item-icon-left'>
        <img class="icon" width='32px' height='32px'
             src="img/ball-34.svg"></img>
        Лото добитници</a>
      <a href='#/winners/joker' class='item item-icon-left'>
        <img class="icon" width='32px' height='32px'
             src="img/ball-9.svg"></img>
        Џокер добитници</a>
    </div>
  </ion-content>
</ion-view>
