<ion-view>
  <ion-nav-title><i class='icon ion-ios-keypad-outline'></i>&nbsp;Статистика</ion-nav-title>
  <ion-content>
    <div class='list'>
      <a href='#/stats/lotto' class='item item-icon-left'>
        <i class='icon ion-record'
           style='color: steelblue'></i>Зачестеност на лото броеви</a>
      <a href='#/stats/joker' class='item item-icon-left'>
        <i class='icon ion-record'
           style='color: yellow'></i>Зачестеност на џокер броеви</a>
    </div>
  </ion-content>
</ion-view>
