<ion-view>
  <ion-nav-title><i class='icon ion-ios-keypad-outline'></i>&nbsp;Статистика</ion-nav-title>
  <ion-content>
    <div class='list'>
      <a href='#/stats/lotto' class='item item-icon-left'>
        <img class="icon" width='32px' height='32px'
             src="img/ball-34.svg"></img>
        Зачестеност на лото броеви</a>
      <a href='#/stats/joker' class='item item-icon-left'>
        <img class="icon" width='32px' height='32px'
             src="img/ball-9.svg"></img>
        Зачестеност на џокер броеви</a>
      <a href='#/stats/winners' class='item item-icon-left'>
        <i class='icon ion-trophy'></i>Статистика на лото добитници</a>
    </div>
  </ion-content>
</ion-view>
