/* Empty. Add your own CSS if you like */
.item-annual, .item-weekly, .item-stats { 
  padding-top: 2px;  
  padding-bottom: 2px; 
  margin: 0;

  font-size: 14px;

  border-top: none;
  border-bottom: dotted;
  border-width: 1px;
}

.item-stats { font-size: 12px; }

.divider-weekly, .divider-annually, .divider-stats {
  font-size: 12px;
  font-weight: bold;

  border-top: none;
  border-bottom: dotted;
  border-width: 1px;
}

.saturday, .thursday, .even { background-color: #F0F3F8; }
.wednesday, .monday, .odd { background-color: #FAFAFA; }

.axis text {
  font-family: 'Open Sans Condensed';
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar-chart-title, .line-chart-title {
  font-size: 12px;
  font-family: 'Open Sans';
  font-weight: bold;
}

.legend {
  font-size: 10px;
  font-family: 'Open Sans';
  font-weight: bold;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 4px;
  font: 10px 'Open Sans';
  background: lightsteelblue;
  border: 2px solid;
  border-radius: 8px;
  pointer-events: none;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

.line {
  fill: none;
  /* stroke: steelblue; */
  stroke-width: 1.8px;
}

.bubble{
    background-color: #f7faa0;
    border-radius: 5px;
    box-shadow: 0 0 6px #b2b2b2;
    display: inline-block;
    padding: 10px 18px;
    /* position: relative; */
    position: absolute;
    vertical-align: top;
    z-index: 100;
    font-family: 'Open Sans';
    font-size: 12px;
}

.bubble::before {
    background-color: #f7faa0;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    z-index: 100;
    font-family: 'Open Sans';
    font-size: 12px;
}

.bubble-left {
    float: left;  
    margin: 5px 45px 5px 20px;        
    z-index: 100;
}

.bubble-left::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
    z-index: 100;
}

.bubble-right {
    float: right;   
    margin: 5px 20px 5px 45px;        
    z-index: 100;
}

.bubble-right::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;   
    z-index: 100;
}
