/* Empty. Add your own CSS if you like */
.item-annual, .item-weekly { 
  padding-top: 2px;  
  padding-bottom: 2px; 
  margin: 0;

  font-size: 14px;

  border-top: none;
  border-bottom: dotted;
  border-width: 1px;
}

.divider-weekly, .divider-annually {
  font-size: 12px;
  font-weight: bold;

  border-top: none;
  border-bottom: dotted;
  border-width: 1px;
}

.saturday, .thursday{ background-color: #F0F3F8; }
.wednesday, .monday { background-color: #FAFAFA; }

.axis text {
  font-family: 'Open Sans Condensed';
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar-chart-title {
  font-size: 12px;
  font-family: 'Open Sans';
  font-weight: bold;
}

.legend {
  font-size: 10px;
  font-family: 'Open Sans';
  font-weight: bold;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 4px;
  font: 10px 'Open Sans';
  background: lightsteelblue;
  border: 2px solid;
  border-radius: 8px;
  pointer-events: none;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}
